
#am1{
    background-image: url("img/1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}
#am2{

    font-size: 50px;
    text-align: center;
}
.am3{

    text-align: center;
}
/*#am4{

    <img src="css/img/1.png" alt="" id="am4">
    width: 800px;
    height: 800px;
}

/*background-image: url("img/1.png")