
#am1{
    background-color: bisque;
}
#am2{

    font-size: 30px;
    text-align: center;
}
.am3{

    text-align: center;
}
.am4{
    width: 500px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;
    margin: 50px auto;
}

/*background-image: url("img/1.png")